@mixin bRad($br) {
	border-radius: $br;
	outline: none;
}

$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);


.newsWrapper {

	margin: 0 auto;


	.itemNews {


		.itemHeader {
			display: flex;
			justify-content: space-between;
			font-weight: bold;
			align-content: center;
			padding: 0.5rem;
			@include bRad (0.5rem);
			margin-top: 1rem;
			box-shadow: $shad;
		}

		.itemText {
			background-color: rgba(0, 0, 0, 0.05);
			margin-top: 0.5rem;
			padding: 0.5rem;
			@include bRad (0.5rem);

			img {
				padding: 0.5rem;
			}
		}


		.commentsWrapper {

			.comments {
				max-width: 60rem;
				padding: 0.5rem;
				margin: 0.5rem auto;

				.comment {
					margin-bottom: 1rem;

					.commentHeader {
						position: relative;
						box-shadow: $shad;
						@include bRad (0.5rem);
						display: flex;
						justify-content: space-between;
						padding: .5rem;
						@media screen and (max-width: 530px) {
							display: block;

						}
					}

					.commentText {
						background-color: rgba(0, 0, 0, 0.05);
						@include bRad (0.5rem);
						margin-top: 0.5rem;

					}
				}

				.replies {
					margin-left: 3rem;

					.repliesHeader {
						box-shadow: $shad;
						@include bRad (0.5rem);
						display: flex;
						justify-content: space-between;
						padding: .5rem;
						margin-top: 0.5rem;
						@media screen and (max-width: 530px) {
							display: block;
						}
					}

					.repliesText {
						background-color: rgba(0, 0, 0, 0.05);
						@include bRad (0.5rem);
						margin-top: 0.5rem;
						margin-bottom: 1rem;


					}

					.repliesForReplies {
						margin-left: 6rem;

						.repliesForRepliesHeader {
							box-shadow: $shad;
							@include bRad (0.5rem);
							display: flex;
							justify-content: space-between;
							padding: .5rem;
							margin-top: 0.5rem;
							@media screen and (max-width: 530px) {
								display: block;
							}
						}

						.repliesText {
							background-color: rgba(0, 0, 0, 0.05);
							@include bRad (0.5rem);
							margin-top: 0.5rem;


						}
					}
				}
			}
		}
	}
}

.likes {
	box-shadow: $shad;
	@include bRad (0.2rem);
	cursor: pointer;
	padding: 0 5px;

	&:hover {
		background-color: rgba(0, 0, 0, 0.05)
	}
}
.likesCount {
	padding: 0 1rem;
	background-color: white;
}
.text {
	p {
		padding: 3px;
		margin: 0;
		background-color: white;
		border-bottom: 1px solid black;
		@include bRad (0.5rem);
	}
}
.date {
	font-size: 0.8rem;
}
.name {
	padding-right: 0.3rem;
}
@media screen and (max-width: 530px) {

	flex-direction: column;


}
