@mixin bRad($br) {
	border-radius: $br;
	outline: none;
}
$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);

.sideBarWrapper {
	float: left;
	max-width: 7.5rem;
	position: sticky;
	left: 0.5rem;
	top: 0.5rem;
	margin-top: 4rem;

	.sideBar {
		box-shadow: $shad;
		display: flex;
		flex-direction: column;

		.sideBarToClose {
			max-width: 0.5rem;
			color: red;
			padding: 2px 9px;
			margin: 0.5rem;
			cursor: pointer;
			border: 1px solid red;
			@include bRad (100%);
		}

		.sideBarLink {
			max-width: 100%;
			text-align: center;
			margin: 2rem 0.2rem 0 0.2rem;
			padding: 0.5rem;
			border: 1px solid silver;
			@include bRad (0.3rem);
			box-shadow: $shad;
			text-decoration: none;
			color: black;
			font-weight: bold;
			&:first-child {
				margin-top: 4rem;
			}
			&:hover {
				background: rgba(0, 0, 0, 0.2);
			}
		}
	}
}
.sideBarWrapper.disableShow {
	display: none;

}
@media screen and (max-width: 650px) {
	.sideBarWrapper {
		left: 0.5rem;
		top: 5.4rem;
		max-width: 100%;
		position: fixed;
		margin-top: 0;
		z-index: 2;
		background-color: lightgray;

		.sideBar {
			display: inline-flex;
			flex-direction: column;
			@include bRad (0.3rem);

			.sideBarLink {
				max-width: 100%;
				display: block;
				padding: 0.5rem;
				margin-bottom: 0.5rem;
				&:first-child {
					margin: 0.2rem;
				}
			}
		}
	}
}


