@mixin bRad($br) {
	border-radius: $br;
	outline: none;
}
$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);


.headerWrapper {
	margin: 0 auto;

	.header {
		@include bRad (0.5rem);
		box-shadow: $shad;
		padding: 3px;

		.headTitle {
			margin: 0;
		}


		.logo {

			.logoImg {

			}
		}
	}
}

.headerWrapper{
	margin: 0 auto;
}

@media screen and (max-width: 650px) {

}


