@mixin bRad($br) {
	border-radius: $br;
	outline: none;
}
$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);


.footerWrapper {
	@include bRad (0.5rem);
	box-shadow: $shad;

	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
		box-shadow: $shad;
		margin-top: 2rem;
		@include bRad (0.5rem);


		.LinkWrapper {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 100%;


			.linkLineWrapper {
				display: flex;
				margin-top: 0.5rem;

				.link {
					text-decoration: none;
					display: flex;
					flex-direction: column;
					align-items: center;

					.linkImg {
						display: flex;
						flex-direction: column;
						align-content: center;

						margin: 0 0.2rem;
						max-width: 2.5rem;
						border: 1px solid blue;
						@include bRad (100%);

					}

					@media screen and (max-width: 320px) {
						max-width: 2.5rem;
					}
				}
			}
		}
	}
	@media screen and (max-width: 500px) {
		.LinkWrapper {
			flex-direction: column;
		}


	}
}

.photoWrapper {
	display: flex;
	align-items: center;

	.photo {
		margin: 0 0.5rem;
		max-width: 3.0rem;
		border: 1px solid blue;
		@include bRad (100%);
	}
}

@media screen and (max-width: 620px) {
	.photoWrapper {
		display: none;
	}
}