.todoWrapper {
	max-width: 50rem;
	margin: 0 auto;

	.todo {
		margin-top: 3rem;
		border-radius: 1rem;
		outline: none;
		background-color: rgba(0, 0, 0, .1);
		box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
		-23px 0 20px -23px rgba(0, 0, 0, .6),
		23px 0 20px -23px rgba(0, 0, 0, .6),
		inset 0 0 40px rgba(0, 0, 0, .1);

		.todoButtons {
			display: flex;
			justify-content: center;

			.dellIcon, .addIcon {
				max-width: 1.5rem;
			}

			.todoBtn {
				border: 1px solid white;
				background-color: rgba(0, 0, 0, .4);
				font-size: 1.2rem;
				font-weight: bold;
				border-radius: 1rem;
				outline: none;
				padding: 0.5rem;
				margin-right: 1rem;
				margin-bottom: 1rem;
				cursor: pointer;
				color: white;
			}

			.todoBtn:last-child {

			}

			.todoBtn:disabled {
				border: 1px solid grey;
			}

			.todoBtn:hover {
				background: rgba(0, 0, 0, .2);
				color: black;
				border: 1px solid black;

			}
		}

		.todoList {

			.listWrapper {
				max-width: 90%;
				margin: 1rem auto;

				.task {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0.5rem;
					margin-bottom: 1rem;
					border-bottom: 1px solid black;
					border-bottom-left-radius: 0.5rem;
					border-bottom-right-radius: 0.5rem;

					.inputWrapper {
						border: 4px solid black;
						border-radius: 0.5rem;
						outline: none;


						.taskStatus {
							display: inline-block;
							zoom: 2;
							cursor: pointer;
						}

						.taskStatus:hover {
						}
					}

					.inputWrapper:hover {
						background: rgba(0, 0, 0, .1);
					}


					.taskDescription {
						display: block;
						font-style: italic;
					}

					.taskEdit {
						display: flex;
						padding: 0.5rem;
						border-radius: 0.5rem;
						outline: none;
						border: 4px solid black;
						font-weight: bold;
						cursor: pointer;

						.settingsIcon {
							max-width: 1.5rem;
						}
					}

					.taskEdit:hover {
						background: rgba(0, 0, 0, .1);
					}


				}

			}
		}

		.footer {
			display: flex;
			justify-content: space-between;
			padding-bottom: 0.5rem;

			.allCount {
				padding: 0.2rem;
				border: 1px solid black;
				border-radius: 0.5rem;
				outline: none;
				margin-left: 0.5rem;
				cursor: pointer;
			}

			.allCount:hover {
				background: rgba(0, 0, 0, .1);
			}

			.filter {
				display: flex;

				.filterItem {
					padding: 0.2rem;
					border: 1px solid black;
					border-radius: 0.5rem;
					outline: none;
					margin-right: 0.5rem;
					cursor: pointer;
				}

				.filterItem:hover {
					background: rgba(0, 0, 0, .1);
				}

			}
		}
	}
}

@media screen and (max-width: 700px) {
	.todoWrapper {

		.todo {

			.todoButtons {

				.todoBtn {
					border: 1px solid white;
					font-size: 1rem;
					margin-right: 0.5rem;
					margin-bottom: 0.5rem;
				}
			}
		}
	}

}

@media screen and (max-width: 450px) {
	.todoWrapper {

		.todo {

			.todoList {

				.listWrapper {
					margin-bottom: 0;

					.task {
						margin-bottom: 0;
					}
				}
			}

			.footer {
				flex-direction: column;

				.filter {
					justify-content: center;
				}

				.allCount {
					margin: 0.3rem auto;
				}
			}

			.todoButtons {
				flex-direction: column;

				.todoBtn {
					margin: 0 auto 0.5rem auto;

				}
			}
		}
	}

}