@mixin bRad($br) {
	border-radius: $br
}

$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);

.todoWrapper {
	max-width: 50rem;
	margin: 0 auto;

	.formForTask {
		display: flex;
		justify-content: space-around;

		.formWrapper {
			display: inline-block;
			padding: 0.5rem;
			box-shadow: $shad;

			input {
				margin: 0.5rem 0 0.5rem 0;
			}

			input[type=text] {
				width: 15rem;
				height: 1.2rem;
				font-size: 1.2rem;
				padding: 0.2rem;
				@include bRad (0.5rem);
				outline: none;
			}

			textarea {
				@include bRad (0.5rem);
				outline: none;
				font-size: 1.5rem;

			}

			.closeForm {
				text-align: right;
				padding-right: 1rem;

				.closeFormBtn {
					color: red;
					font-weight: bold;
					outline: none;
					cursor: pointer;
				}
			}
		}
	}

	.todo {
		margin-top: 3rem;
		@include bRad (1rem);
		outline: none;
		background-color: rgba(0, 0, 0, .1);
		box-shadow: $shad;

		.allMark {
			display: flex;
			align-content: center;
			padding-left: 3rem;

			.allMarkCheck {
				zoom: 1.5;
				cursor: pointer;
			}
		}

		.todoButtons {
			display: flex;
			justify-content: center;

			.dellIcon, .addIcon {
				max-width: 1.5rem;
			}

			.todoBtnAdd, .todoBtnDell {
				border: 1px solid white;
				background-color: rgba(0, 0, 0, .4);
				font-size: 1.2rem;
				font-weight: bold;
				@include bRad (1rem);
				outline: none;
				padding: 0.5rem;
				margin-right: 1rem;
				margin-bottom: 1rem;
				cursor: pointer;
				color: white;


				&:hover {
					background: rgba(0, 0, 0, .2);
					color: black;
					border: 1px solid black;
				}
			}

			.todoBtnDell:disabled {
				border: 1px solid grey;
				background: rgba(0, 0, 0, .2);
				color: white;
			}
		}

		.todoList {

			.listWrapper {
				max-width: 90%;
				margin: 1rem auto;

				.taskName {
					text-align: left;
					padding: 0.2rem 0.6rem;
					font-weight: bold;
				}

				.task {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0.5rem;
					margin-bottom: 1rem;
					border-bottom: 1px solid black;
					border-bottom-left-radius: 0.5rem;
					border-bottom-right-radius: 0.5rem;

					.areaWrapper {


						.area {
              max-width: 20rem;
							max-height: 10rem;

							@media screen and (max-width: 520px) {
								max-width: 15rem;
								max-height: 7rem;
							}
							@media screen and (max-width: 520px) {
								max-width: 10rem;
								max-height: 4rem;
							}
							@media screen and (max-width: 350px) {
								max-width: 6rem;
								max-height: 2rem;
							}
						}

					}


					.inputWrapper {
						@include bRad (0.5rem);
						outline: none;
						&:hover {
							background: rgba(0, 0, 0, .1);
						}


						.taskStatus {
							display: inline-block;
							zoom: 2;
							cursor: pointer;
						}
					}
					.inputWrapper.changed {
						background-color: lawngreen;
					}


					.taskDescription {
						display: block;
						font-style: italic;
						text-decoration: underline;
					}

					.taskDescription.taskDescriptionOff {
						text-decoration: line-through;
					}

					.closeEdit {
						color: red;
						font-weight: bold;
						margin-left: 0.5rem;
					}


					.taskEdit {
						display: flex;
						padding: 0.5rem;
						@include bRad (0.5rem);
						outline: none;
						font-weight: bold;
						cursor: pointer;

						&:hover {
							background: rgba(0, 0, 0, .1);
						}

						.settingsIcon {
							max-width: 1.5rem;
						}
					}
				}
			}
		}

		.filterWrapper {
			display: flex;
			justify-content: space-between;
			padding: 0.5rem;

			.allCount {
				padding: 0.2rem;
				border: 1px solid black;
				@include bRad (0.5rem);
				outline: none;
				margin-left: 0.5rem;
				cursor: pointer;
			}

			.allCount:hover {
				background: rgba(0, 0, 0, .1);
			}

			.filter {
				display: flex;

				.filterItem {
					padding: 0.2rem;
					border: 1px solid black;
					@include bRad (0.5rem);
					outline: none;
					margin-right: 0.5rem;
					cursor: pointer;

					&:hover {
						background: rgba(0, 0, 0, .1);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.todoWrapper {

		.todo {

			.todoButtons {

				.todoBtnAdd, .todoBtnDell {
					border: 1px solid white;
					font-size: 1rem;
					margin-right: 0.5rem;
					margin-bottom: 0.5rem;
				}
			}
		}
	}

}

@media screen and (max-width: 450px) {
	.todoWrapper {

		.todo {

			.todoList {

				.listWrapper {
					margin-bottom: 0;

					.task {
						margin-bottom: 0;
					}
				}
			}

			.filterWrapper {
				flex-direction: column;

				.filter {
					justify-content: center;
				}

				.allCount {
					margin: 0.3rem auto;
				}
			}

			.todoButtons {
				flex-direction: column;

				.todoBtnAdd, .todoBtnDell {
					margin: 0 auto 0.5rem auto;

				}
			}
		}
	}

}