@mixin bRad($br) {
	border-radius: $br;
	outline: none;
}
$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);


.todoWrapper {

	margin: 0 auto;
	@include bRad (0.5rem);

	.formForTask {
		display: flex;
		justify-content: space-around;

		.formWrapper {
			display: inline-block;
			padding: 0.5rem;
			box-shadow: $shad;

			.fieldWrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 0.5rem;

				.error {
					border: 1px solid red;
					@include bRad (0.5rem);
					color: red;
					margin: 0.5rem auto;
					padding: 2px;
				}


				input[type=text] {
					width: 15rem;
					height: 1.2rem;
					font-size: 1.2rem;
					margin: 0.5rem 0 0.5rem 0;
					padding: 0.2rem;
					@include bRad (0.5rem);
				}

				textarea {
					@include bRad (0.5rem);
					font-size: 1.4rem;
					resize: none;
				}
			}

			.closeForm {
				text-align: right;
				padding-right: 1rem;

				.closeFormBtn {
					color: red;
					padding: 0 6px;

					cursor: pointer;
					border: 1px solid red;
					@include bRad (100%);
				}
			}
		}
	}

	.todo {
		margin-top: 0.5rem;
		background-color: rgba(0, 0, 0, .1);
		box-shadow: $shad;
		@include bRad (0.5rem);

		.markAndSearchWrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.allMark {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				text-align: left;
				padding-left: 6%;

				span {
					min-width: 100%;
				}

				.allMarkCheck {
					zoom: 1.5;
					cursor: pointer;

				}
			}

			.searchWrapper {
				padding-right: 6%;


				.search {
					max-width: 100%;


					box-shadow: $shad;
					@include bRad (0.5rem);
					padding: 2px;
					cursor: pointer;

				}

				.closeSearch {
					color: red;
					padding: 0 6px;
					margin: 0 0.5rem;
					cursor: pointer;
					border: 1px solid red;
					@include bRad (100%);
				}

				.searchWrapperContent {
					display: flex;

					.searchField {
						padding: 3px;
						@include bRad (0.5rem);
					}

				}


				.searchIcon {
					max-width: 1.5rem;
					outline: none;
					padding-left: 0.5rem;

				}
			}
		}

		@media screen and (max-width: 650px) {
			.markAndSearchWrapper {
				display: block;

				.searchWrapper {
					display: block;
					text-align: right;

					.search {
						display: inline-block;
					}

					.searchWrapperContent {
						justify-content: flex-end;
					}
				}
			}
		}
		@media screen and (max-width: 450px) {
			.markAndSearchWrapper {


				.searchWrapper {


					.searchWrapperContent {
						flex-direction: column;
						align-items: flex-end;

						.closeSearch {
							display: block;
						}
					}
				}
			}
		}

		.todoButtons {
			display: flex;
			justify-content: center;

			.dellIcon, .addIcon {
				max-width: 1.5rem;
			}

			.todoBtnAdd, .todoBtnDell {
				border: 1px solid white;
				background-color: rgba(0, 0, 0, .2);
				font-size: 1.2rem;
				font-weight: bold;
				@include bRad (0.5rem);
				padding: 0.5rem;
				margin-right: 1rem;
				margin-bottom: 1rem;
				cursor: pointer;
				color: white;

				&:hover {
					box-shadow: $shad;
					color: black;
				}
			}

			.todoBtnDell:disabled, .todoBtnAdd:disabled {
				border: 1px solid grey;
				background: rgba(0, 0, 0, 0.1);
				color: white;
				box-shadow: none;
			}
		}

		.todoList {
			@include bRad (0.5rem);

			.listWrapper {
				max-width: 90%;
				margin: 1rem auto;

				.taskWrapper {
					box-shadow: $shad;
					background-color: rgba(0, 0, 0, 0.1);


					.taskName {
						display: flex;
						justify-content: space-between;
						padding: 0.2rem 0.6rem;
						margin-bottom: 1.5rem;
						border-top: 1px solid black;
						border-top-left-radius: 0.5rem;
						border-top-right-radius: 0.5rem;

						.fieldEditMode {
							font-size: 0.8rem;
						}

						.fieldEditMode.error {
							color: red;
						}


						.editName {
							@include bRad (0.5rem);
							padding: 3px;
							border: 1px solid black;
							font-size: 1.1rem;
						}
						.editName.error {
							border: 1px solid red;
						}

						.date, .name {
							display: inline-block;
							font-weight: bold;
							max-width: 100%;
						}

						.name {

						}

					}

					.task {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 0.5rem;
						margin-bottom: 1rem;
						border-bottom: 1px solid black;
						border-bottom-left-radius: 0.5rem;
						border-bottom-right-radius: 0.5rem;


						.areaWrapper {
							max-width: 100%;

							.areaEditMode {
								font-size: 0.8rem;
								padding: 5px;
							}

							.areaEditMode.error {
								color: red;
							}

							.area {
								height: 7rem;
								@include bRad (0.5rem);
								box-shadow: $shad;
								font-size: 1.4rem;
								resize: none;
								border: 1px solid black;
								max-width: 30rem;
								width: 33rem;
								@media screen and (max-width: 900px) {
									max-width: 29rem;
									max-height: 7rem;
								}
								@media screen and (max-width: 800px) {
									max-width: 27rem;
									max-height: 7rem;
								}
								@media screen and (max-width: 750px) {
									max-width: 24rem;
									max-height: 7rem;
								}
								@media screen and (max-width: 650px) {
									max-width: 20rem;
									max-height: 7rem;
								}
								@media screen and (max-width: 600px) {
									max-width: 18rem;
									max-height: 7rem;
								}
								@media screen and (max-width: 550px) {
									max-width: 15rem;
									max-height: 7rem;
								}
								@media screen and (max-width: 500px) {
									max-width: 14rem;
									max-height: 5rem;
								}
							}
							.area.error {
								border: 1px solid red;
							}
						}


						.inputWrapper {
							@include bRad (0.5rem);
							display: flex;
							flex-direction: column;
							text-align: center;

							.taskCompleted {
								color: green;
								font-weight: bold;
								letter-spacing: 2px;
							}

							&:hover {
								background: rgba(0, 0, 0, .1);
							}


							.taskStatus {
								margin: 0 auto;
								zoom: 2;
								cursor: pointer;
							}
						}

						.taskDescription {
							width: 100%;
							word-break: break-all;
							font-style: italic;
							font-size: 1.2rem;
							font-weight: 500;
							margin: 0.5rem 0.3rem;
							padding: 7px 0;
							@include bRad (0.5rem);
							box-shadow: $shad;
							background-color: white;

						}

						@media screen and (max-width: 500px) {

							.taskDescription {
								font-size: 1rem;
							}
						}

						.taskDescription.taskDescriptionOff {
							text-decoration: line-through;
						}

						.closeEdit {
							color: red;
							padding: 2px 9px;
							margin: 0 0.5rem;
							cursor: pointer;
							border: 1px solid red;
							@include bRad (100%);
						}

						.edit {
							display: flex;
							align-items: center;
							justify-content: space-around;

						}

						.taskEdit {
							background-color: rgba(0, 0, 0, .2);
							display: flex;
							padding: 0.5rem;
							@include bRad (0.5rem);
							cursor: pointer;

							.settingsIcon {
								max-width: 1.5rem;
							}
						}

						.taskEdit:hover {
							box-shadow: $shad;
						}

						.taskEdit:disabled {
							box-shadow: none;
							border: 1px solid white;
							background: rgba(0, 0, 0, 0.1);
						}
					}

					@media screen and (max-width: 500px) {
						.task {
							flex-direction: column-reverse;
						}
					}
				}
			}

		}

		.filterWrapper {
			display: flex;
			justify-content: space-between;
			padding: 0.5rem;

			.allCount {
				padding: 0.2rem;
				box-shadow: $shad;
				@include bRad (0.3rem);
				margin-left: 0.5rem;
				cursor: pointer;
			}

			.filter {
				display: flex;

				.filterItem {
					padding: 0.2rem;
					@include bRad (0.3rem);
					margin-right: 0.5rem;
					cursor: pointer;
					box-shadow: $shad;

					&:hover {
						background: rgba(0, 0, 0, .1);
					}
				}
			}
		}
		@media screen and (max-width: 750px) {
			.filterWrapper {
				display: inline-flex;
				flex-direction: column;

				.filter {
					display: inline-flex;
					flex-direction: column;

					.filterItem {
						max-width: 100%;
						margin: 0 0 0.5rem 0;
					}
				}
				.allCount {
					max-width: 100%;
					margin: 0 0 0.5rem 0;
				}
			}
		}



	}
}

@media screen and (max-width: 700px) {
	.todoWrapper {

		.todo {

			.todoButtons {

				.todoBtnAdd, .todoBtnDell {
					border: 1px solid white;
					font-size: 1rem;
					margin-right: 0.5rem;
					margin-bottom: 0.5rem;
				}
			}
		}
	}

}

@media screen and (max-width: 450px) {
	.todoWrapper {

		.todo {

			.todoList {

				.listWrapper {
					margin-bottom: 0;

					.task {
						margin-bottom: 0;
					}
				}
			}

			.filterWrapper {


				.filter {

				}

				.allCount {

				}
			}

			.todoButtons {
				flex-direction: column;

				.todoBtnAdd, .todoBtnDell {
					margin: 0 auto 0.5rem auto;

				}
			}
		}
	}

}