.appWrapper {
  text-align: center;
  font-size: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .contentWrapper {
    margin: 0 auto;
    max-width: 65rem;
  }
}

@media screen and (max-width: 650px) {
  .appWrapper {
    font-size: 90%;
  }
}