@mixin bRad($br) {
	border-radius: $br;
	outline: none;
}
$shad: 0 1px 4px rgba(0, 0, 0, .3),
-23px 0 20px -23px rgba(0, 0, 0, .6),
23px 0 20px -23px rgba(0, 0, 0, .6),
inset 0 0 40px rgba(0, 0, 0, .1);


.footerWrapper {
	@include bRad (0.5rem);
	box-shadow: $shad;
	margin: 0.5rem 0.5rem 0 9.5rem;

	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
		box-shadow: $shad;
		margin-top: 2rem;
		@include bRad (0.5rem);

		.mail {

			.link {
				text-decoration: none;
			}
		}

		.linkLineWrapper {
			display: flex;
			margin-top: 0.5rem;

			.link {
				text-decoration: none;
				color: black;
				display: flex;
				flex-direction: column;
				align-items: center;

				.linkImg {
					display: flex;
					flex-direction: column;
					align-content: center;

					margin: 0 0.2rem;
					max-width: 2.5rem;
					border: 1px solid black;
					@include bRad (100%);

				}
			}
		}

		.LinkWrapper {
			display: flex;
			align-items: center;
			justify-content: space-around;
			max-width: 100%;
		}
		.photoWrapper {
			display: flex;
			align-items: center;

			.photo {
				margin: 0 0.5rem;
				max-width: 3.0rem;
				border: 1px solid blue;
				@include bRad (100%);
			}
		}
		@media screen and (max-width: 650px) {
			.photoWrapper {
				display: none;
			}
		}
	}
	@media screen and (max-width: 320px) {
		.footer {
			flex-direction: column;
		}
	}
}
.footerWrapper.footerDisableMenu {
	margin: 0 auto 0.5rem auto;
}
@media screen and (max-width: 650px) {
	.footerWrapper {
		margin: 0 auto 0.5rem auto;
	}


}



